entrypoint = "server.js"
modules = ["nodejs-20"]
run = "npm start"

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm install"]
run = ["sh", "-c", "npm start"]

[nix]
channel = "stable-24_05"
